body,html{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.content{
    width: 100%;
    margin: 0 auto;
}
.contentblock{
    padding-top: 25%;
    width: 500px;
    margin: 0 auto;
}
.colors{
    margin-left: 35%;
    color:white;
    font-size: 25px;
    text-align: center;
}
button{
    font-size: 25px;
    width: 500px;
    padding: 0;
    outline: none;
    border:2px solid white;
    background-image:none;
    background-color:transparent;
    text-transform:uppercase;
    color:#fff;
    transition: .5s;
}
button:hover {
    background: #0e64aa;
    transition: .3s;
}